name: Terraform CI/CD

on:
  push:
    branches:
      - main
  workflow_dispatch:   # allows manual run from GitHub UI

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        working-directory: day-2-introduction
        run: terraform init

      - name: Terraform Plan
        working-directory: day-2-introduction
        run: terraform plan

      - name: Terraform Apply
        working-directory: day-2-introduction
        run: terraform apply -auto-approve
